@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    font-family: 'Pretendard-Regular';
}
.profile {
    position: relative;
}

.moffin img {
    width: 90%;
}

.charitem img {
    width: 400px;
}

.noneimg{
    display: none;
}

.imgposition{
    position: absolute;
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%);
}

.itemimg{
    width: 200px;
    height: 200px; 
}

.mof {
    position: relative;
    z-index: 1;
}

#charitem1, #charitem3, #charitem4, #charitem7, #charitem8, #charitem11, #charitem12, #charitem13, #charitem14, #charitem15, #charitem16, #charitem17, #charitem19, #charitem20, #charitem21, #charitem22
{
    z-index: 2;
}

#charitem2, #charitem5 {
    z-index: 3;
}

#charitem6, #charitem10 {
    z-index: 0;
}

#charitem9, #charitem18 {
    z-index: 1;
}

/* .charimg{
    width:300px; height:300px; position:absolute; right:50px; bottom:380px;
}  */
/* .randombox{
margin-bottom: 200px;
width : 200px; height :200px;
} */
/* .itemlist{
    display: flex;
    text-align:center; 
    align-items: center;
    justify-content: center;
} */
.text_1{
    text-align: center;
}
.random {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}

/* .randombox:hover {
    transform: translateY(-5px);
} */

.randombox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #FFFBF0;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 350px;
    height: 250px;
    cursor: pointer;
    position: relative;
}

.randombox:not(last-child){
    margin-right: 20px;
}
/* .randombox {
    margin-top: 20px;
} */

.randombox:hover {
    transform: translateY(-5px);
}

.pointrandbox::after {
    content: '포인트 뽑기 (- 100pt)';
    position: absolute;
    font-size: 2rem;
    bottom: 4rem;
}

.itemrandbox::after {
    content: '아이템 뽑기 (- 500pt)';
    position: absolute;
    font-size: 2rem;
    bottom: 4rem;
}

.randomimg {
    width: 120px;
    height: 120px;
    padding: 65px 115px;
}

/* .randombox span {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #666666;
} */

/* .randombox span.bold {
    font-weight: bold;
    color: #333333;
} */

.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: #FFFBF0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 250px;
}

.item-box:hover {
    transform: translateY(-5px);
}

.item-img {
    width: 100px;
    height: 100px;
}

.item-name {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #333333;
    
}
.bigbox{
    display: flex;
}
.loginrank_list{
    margin-left: 140px;
    margin-right: 140px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #1C3879;
    text-align: center;
}

th {
    background-color: #1C3879;
    color: white;
}
td{
    background-color: #FFFBF0;
}

/* .pointrank_list h2,
.loginrank_list h2,
.itemrank_list h2 {
    margin-bottom: 10px;
    text-align: center;
} */

ul{list-style:none;}

.tabmenu{ 
  width:600px; 
  margin: 0 auto;
  position:relative; 
  height: 780px;  
}
.tabmenu ul li{
  display:  inline-block;
  width:33.33%; 
  text-align:center; 
  background :#f9f9f9;
}
.tabmenu ul li a{
  display:block;
  line-height:40px;
  height:40px;
  text-decoration:none; 
  color: #000;
}
.tabCon{
  display:none; 
  text-align:center; 
  padding: 20px;
  box-sizing: border-box; 
  /* border : 5px solid #ffffff; */
  position:absolute; 
  left:3px; top:40px; 
  width: 600px;

}
.btnCon:target  {
  background : #ffffff;
}
.btnCon:target .tabCon{
  display: block;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center; 
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    width: 65%;
    background-color: #333333;
    border-radius: 2px;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
    padding: 30px;
}

.title {
    margin-bottom: 50px;
    color: #777777;
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.itembtn {
    width: 150px;
    height: 150px;
    background-color: #8b8b8b;
    border-top: thick double #373737;
    border-left: thick double #373737;
    border-right: double #ffffff;
    border-bottom: double #ffffff;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

.itembtn img {
    width: 150px;
    height: 150px;
}

#wrap {
    display: flex;
    flex-direction: column;
    text-align: center; 
    align-items: center;
    justify-content: center;
}