#menu {
    margin: 20px auto;
    text-align: center;
}

#menu div {
    position: relative;
    display: inline-block;
}

.chara{
    display: block;
    width: 80px;
    padding: 2px 16px;
    cursor: pointer;
}

.arrow_box {
    display: none;
    position: absolute;
    width: 100px;
    padding: 8px;
    left: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;  
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 14px;
}

.chara img {
    margin: 20px;
}

.arrow_box:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 10px;
    pointer-events: none;
    content: " ";
}

span:hover + p.arrow_box {
    display: block;
}

.chara img:active{
    background-color: black;
}

.success {
    background-color: var(--btn-color);
    color: white;
    font-weight: 500;
    border-radius: 10px;
    margin: 10px;
}

.error {
    color: var(--active-color);
    font-weight: 400;
    margin-bottom: 30px;
}

#errMsg {
    text-align: center;
    font-size: small;
    color: red;
    margin-top: 3px;
}

#errMsgId {
    text-align: center;
    font-size: small;
    color: red;
}

#chkerr {
    color: red;
    /* line-height: 50%; */
    /* vertical-align : top; */
    text-align: center;
    font-size: small;
}

/*******    랭킹    *********/

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #1C3879;
    text-align: center;
}

th {
    background-color: #1C3879;
    color: white;
}
td{
    /* background-color: #FFFBF0; */
}

ul{list-style:none;}

.tabmenu{ 
  width:80%; 
  margin: 0 auto;
  position:relative; 
  height: 780px;
  margin-top: 30px;
}
.tabmenu ul li{
  display:  inline-block;
  width:33.33%; 
  float:left;  
  text-align:center; 
  /* background :#f9f9f9; */
}
.tabmenu ul li a{
  display:block;
  line-height:40px;
  height:40px;
  text-decoration:none; 
  color: #000;
}
.tapbtn {
    font-size: 2.1rem;
    font-weight: 700;
    color:rgb(124, 124, 124);
}

.tabCon{
  display:none; 
  text-align:center; 
  padding: 20px;
  box-sizing: border-box; 
  position:absolute; 
  left:3px; top:40px; 
  width: 100%;

}
.btnCon:target  {
  border-bottom: 1px solid black;
}

.tapbtn:target {
    color:rgb(0, 0, 0);
}

.btnCon:target .tabCon{
  display: block;
}
thead{
    font-size: 1.7rem;
}

tbody{
    font-size: 1.5rem;
}

.rankname{
    font-size: 1.9rem;
    margin-top: 1.5rem;
}

.rankContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    

}

.pointrankF , .pointrankS , .pointrankT{
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    width: 30%;
    height: 30%;
}

.pointrankF img, .pointrankS img, .pointrankT img {
    width: 20%;
    height: 20%;
}