@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');

#menu {
    margin: 20px auto;
    text-align: center;
}

#menu div {
    position: relative;
    display: inline-block;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    /* background-color: var(--main-color); */
    background-color: var(--sub-color);
    /* backdrop-filter: blur(100px); */
}

.modal_content {
    background-color: var(--sub-color);
    margin: 20% auto;
    padding: 20px;
    border: 1px solid rgb(77, 47, 47);
    width: 50%;
}

.emailresentpls{
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 0.8rem;
    width: 50%;
    font-size: 1.3rem;
    color: var(--active-color);
}

.pop_bt{
    font-size: 13pt; 
    color: var(--main-color);
    cursor: pointer;
    
}

.mofin-rabbit , .mofin-panda , .mofin-penguin{
    display: block;
    width: 80px;
    padding: 2px 16px;
    cursor: pointer;
}

.arrow_box {
    display: none;
    position: absolute;
    width: 100px;
    padding: 8px;
    left: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;  
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 14px;
}

/* .chara img {
    margin: 20px;
} */

.arrow_box:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333;
    border-width: 10px;
    pointer-events: none;
    content: " ";
}

span:hover + p.arrow_box {
    display: block;
}

.chara img:active{
    background-color: black;
}

.success {
    color: #000000;
    font-weight: 500;
    border-radius: 10px;
    margin: 10px;
    font-size: 10rem;
    width: 28rem;
}

.error {
    color: var(--active-color);
    font-weight: 400;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    width: 28rem;
    margin: 0 auto;
    height: 2rem;
}

#errMsg {
    text-align: center;
    font-size: 1.5rem;
    color: red;
    margin-top: 3px;
}

#errMsgId {
    text-align: center;
    font-size: small;
    color: red;
}

#chkerr {
    color: red;
    /* line-height: 50%; */
    /* vertical-align : top; */
    text-align: center;
    font-size: small;
}

label>.mofin-rabbit{
    background-image: url('../img/rabbit2.png');
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;
}

label>.mofin-panda{
    background-image: url('../img/panda2.png');
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 1rem;
}

label>.mofin-penguin{
    background-image: url('../img/penguin2.png');
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
}

#rabbit:checked + label>.mofin-rabbit {
    background-image: url('../img/rabbit3.png');
    width: 130px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(4px 8px 8px hsl(0, 0%, 75%));
}

#penguin:checked + label>.mofin-penguin {
    background-image: url('../img/penguin3.png');
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(4px 8px 8px hsl(0, 0%, 75%));

}

#panda:checked + label>.mofin-panda {
    background-image: url('../img/panda4.png');
    width: 100px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(4px 8px 8px hsl(0, 0%, 75%));

}

[type="radio"]:not(:checked) { 
    background-image: url('../img/none.png');
    width: 2.2rem;
    height: 2.2rem;
}
[type="radio"]:checked { 
    background-image: url('../img/chk.png');
    width: 2.2rem;
    height: 2.2rem;
}



/* #panda:not(:checked) + label>.mofin-panda{
    filter: grayscale(1);
}
#penguin:not(:checked) + label>.mofin-penguin{
    filter: grayscale(1);
}
#panda:not(:checked) + label>.mofin-panda{
    filter: grayscale(1);
} */

.btnverify{
    margin-top: 2rem;
}


/*******    랭킹    *********/
.rankTit {
    margin-top: 10%;
    font-family:'NanumSquareRound', 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 1.6rem;
}

.mainTit{
    font-size: 4rem;
    font-weight: 900;
}
h5{
    margin-top: 10px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #1C3879;
    text-align: center;
}

th {
    background-color: #1C3879;
    color: white;
}
/* td{ 
    background-color: #FFFBF0;
    } */

ul{list-style:none;}

.tabmenu{ 
    width: 100%; 
    /* margin: 0 auto; */
    text-align: center;
    position:relative; 
    /* height: 780px; */
    margin-top: 30px;
}
.tabmenu ul li{
    display: inline-block;
    width:30%; 
    /* float:left;   */
    text-align:center; 
  /* background :#f9f9f9; */
}

.tabmenu ul li:hover {
    cursor: pointer;
}

.tabmenu ul li a{
    display:block;
    line-height:40px;
    height:40px;
    text-decoration:none; 
    /* color: #000; */
}
.tapbtn {
    font-size: 2.1rem;
    font-weight: 700;
    color:rgb(124, 124, 124);
}

.tabCon{
    display:none; 
    text-align:center; 
    padding: 20px;
    box-sizing: border-box; 
    /* position:absolute; 
    left:3px; top:40px; 
    width: 100%; */
}
.btnCon.active  {
    border-bottom: 1px solid black;
    /* margin-bottom: 4rem; */
}

.tapbtn.active {
    color:rgb(0, 0, 0);
}

.tabCon.active{
    display: block;
}
thead{
    font-size: 1.7rem;
    margin-bottom: 4rem;
}

tbody{
    font-size: 1.5rem;
}



.rankname{
    font-size: 1.9rem;
    margin-top: 1.5rem;
}

/* .rankContainer{
    display: flex;
    justify-content: space-around;
} */

.pointrankF , .pointrankS , .pointrankT{
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    width: 15%;
    height: 45%;
}

.pointrankF img, .pointrankS img, .pointrankT img {
    width: 20%;
    height: 20%;
}

.tabname {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid #979595;
    color: #aaa9a9;
}

.tabname.active {
    border-bottom: 1px solid #000000;
    color: rgb(0, 0, 0);
}

.search-moffin{
    margin:2rem auto;
    width: 25rem;
}

#search_name {
    border: 1px solid #6e6c6c6b;
    padding: 0.5rem;
    margin :0.5rem;
    border-radius: 0.4rem ;
}

.rankeruser{
    display: inline-block;
    border: 1px solid rgb(197, 197, 194);
    border-radius: 0.4rem ;
    width: 24%;
    position: relative;
    margin: 2%;
    bottom: 0;
}

.rankeruser:nth-child(1){
    left: 29%;
    border: 2px solid rgb(255, 144, 144);
    

}

.rankeruser:nth-child(2) {
    left: -28%;
}

.rankk {
    font-size: 1.8rem;
}

@media (max-width: 880px){
    /* #wrap {
        min-height: 2200px;
    } */

    .rankeruser {
        display: block;
        width: 60%;
        margin: 1% auto;
        /* height: 60vw; */
    }
    .rankeruser:nth-child(1) {
        left: 0%;

    }

    .rankeruser:nth-child(2) {
        left: 0%;
    }

    /* #footer {
        position: fixed;
        width: 100%;
        z-index: 99;
        margin: 13rem auto 0 auto;
       
        padding-left: 0;
        padding-right: 0;
        bottom: 0;
    } */
}

.rankeruser p{
    font-size: 1.5rem;
    padding: 1% 0;
}

#charitem1, #charitem3, #charitem4, #charitem7, #charitem8, #charitem11, #charitem12, #charitem13, #charitem15, #charitem16, #charitem17, #charitem19, #charitem20, #charitem21, #charitem14
{
    z-index: 2;
}

#charitem2, #charitem5 ,
#charitem22
{
    z-index: 3;
}

#charitem6, #charitem10 {
    z-index: 0;
}

#charitem9, #charitem18 {
    z-index: 1;
}

.moffin img {
    width: 66%;
}

.charitem img {
    width: 70%;
}

.mof {
    position: relative;
    z-index: 1;
}

.imgposition{
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}

.noneimg{
    display: none;
}

.mofinmsg{
    margin: 0 auto;
    margin-top: 0.8rem;
    width: 15rem;
    font-size: 1.3rem;
    color: var(--active-color);
}
