/********************* static *********************/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: var(--main-color);
    background-color: rgba(0, 0, 0, 0.863);
}

.modal_content {
    background-color: var(--sub-color);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* 변경: 원하는 너비로 조정 */
    max-width: 550px; /* 추가: 최대 너비 설정 */
}

.pop_bt{
    font-size: 13pt; 
    color: var(--main-color);
    cursor: pointer;
}

.catdetail{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.percent{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.percent>p{
    width: 50px;
    height: 50px;
    margin : 10px;
    padding-top: 10px;
}

.catdetail{
    margin : 10px;
}

.catname{
    margin-top: 10px;
    width: 100px;
}
.catprice{
    margin-bottom:25px;
    text-align: center;
}

h3{
    margin-bottom: 20px;
    font-size: 20px;
    word-spacing: 5px;
}

#year{
    margin-bottom: 30px;
    margin-right: 10px;
}

.allcategoryChart{
    display: flex;
}

.top1{
    margin-top: 150px;
}

*{
    text-align: center;
    justify-content: center;
    align-items: center;
}

#monthChart {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
}

.line2 {
    margin-top: 60px;
}

.empty {
    margin: 20px;
    font-size: 15px;
}

#categoryChart {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
    min-width: 400px;
    max-height: 400px;
    min-height: 400px;
}

.donutChart {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.chartBar {
    margin-top: 20px;
}

.modalMsg {
    padding: 10px;
    font-size: 15px;
}